<!--The content below is only a placeholder and can be replaced.-->
  <h1 style="text-align:center;">
    Welcome to {{title}}!
  </h1>
  <div class="calculator">
      <div class="display__wrap">
          <aside class="display">
              <div id="displaySym" class="display__sym">{{result}}</div>
              <div id="displayNum" class="display__num"></div>
          </aside>
      </div>
      <nav class="nav">
          <div class="nav__inner nav__inner--left">
              <div class="nav__erase">
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--erase" data-value="ce" href="#">CE</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--erase" data-value="ca" href="#">CA</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--erase" data-value="del" href="#">DEL</span></div>
              </div>
              <div class="nav__num">
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="7" href="#">7</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="8" href="#">8</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="9" href="#">9</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="4" href="#">4</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="5" href="#">5</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="6" href="#">6</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="1" href="#">1</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="2" href="#">2</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="3" href="#">3</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="0" href="#">0</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="00" href="#">00</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="." href="#">.</span></div>
              </div>
          </div>
          <div class="nav__inner nav__inner--right">
              <div class="nav__operator">
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--operator" data-value="/" href="#">÷</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--operator" data-value="*" href="#">×</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--operator" data-value="-" href="#">-</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--operator" data-value="+" href="#">+</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--operator" data-value="=" href="#">=</span></div>
              </div>
          </div>
      </nav>
  </div>
