<!--The content below is only a placeholder and can be replaced.-->
  <h1 style="text-align:center;">
    Welcome to {{title}}!
  </h1>
  <div class="calculator">
      <div class="display__wrap">
          <aside class="display">
              <div id="displaySym" class="display__sym">{{result}}</div>
              <div id="displayNum" class="display__num"></div>
          </aside>
      </div>
      <nav class="nav">
          <div class="nav__inner nav__inner--left">
              <div class="nav__erase">
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--erase" data-value="ce" >CE</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--erase" data-value="ca" >CA</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--erase" data-value="del" >DEL</span></div>
              </div>
              <div class="nav__num">
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="7"  (click)="show_click()">7</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="8" >8</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="9" >9</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="4" >4</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="5" >5</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="6" >6</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="1" >1</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="2" >2</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="3" >3</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="0" >0</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="00" >00</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num" data-value="." >.</span></div>
              </div>
          </div>
          <div class="nav__inner nav__inner--right">
              <div class="nav__operator">
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--operator" data-value="/" >÷</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--operator" data-value="*" >×</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--operator" data-value="-" >-</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--operator" data-value="+" >+</span></div>
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--operator" data-value="=" >=</span></div>
              </div>
          </div>
      </nav>
  </div>
