<!--The content below is only a placeholder and can be replaced.-->
  <h1 style="text-align:center;">
    Welcome to {{title}}!
  </h1>
  <div class="calculator">
      <div class="display__wrap">
          <aside class="display">
              <div id="displaySym" class="display__sym">{{result}}</div>
              <div id="displayNum" class="display__num"></div>
          </aside>
      </div>
      <nav class="nav">
          <div class="nav__inner nav__inner--left">
              <div class="nav__erase" *ngFor="let e of nav_erases">
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--erase">{{e}}</span></div>
              </div>
              <div class="nav__num" *ngFor="let n of nav_numbers">
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--num">{{n}}</span></div>
              </div>
          </div>
          <div class="nav__inner nav__inner--right">
              <div class="nav__operator" *ngFor="let o of nav_operators">
                  <div class="nav__btn__wrap"><span class="nav__btn nav__btn--operator">{{o}}</span></div>
              </div>
          </div>
      </nav>
  </div>
